.proof-card--1 img{object-position:65% 48%;transform:scale(1.05)}
.proof-card--2 img{object-position:79% 54%;transform:scale(1.75)}
.proof-card--3 img{object-position:61% 42%;transform:scale(1.45)}
.proof-card--4 img{object-position:84% 68%;transform:scale(1.28)}
